#sample-codes {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    vertical-align: top;
}

#python-example {
    width: 220px;
    height: 300px;
}

py-terminal {
    background-color:blueviolet ;
}

#py-terminal {
    background-color:blueviolet ;
}

#output {
    background-color: black;
}

#output img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;
}