.PythonContainer {
    width: 90vw;
    height: 90vh;
}

.py-terminal[docked]{
    background-color:darkblue  !Important;
}

.py-terminal-docked{
    background-color:darkblue  !Important;
}

.py-terminal {
    background-color:darkblue  !Important;
}

.py-repl-output {
    display: none !Important;
    visibility: hidden !Important;
}

#sample_container {
    vertical-align: top;
}

#code_container {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

#output-container {
    background-color: black;
}

#sample-codes {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#python-example {
    width:  330px;
    height: 544px;
    background: #F2F2F2;
    color: #808080;
    border-radius: 5px;
    font-family:"Cascadia Code";
    font-size: 12px;
}

#output {
    background-color: black;
}

#output img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}

.btnStyle {
    border-radius: 5px;
    vertical-align: middle;
    background: pink;
    align-content: center;
    font-family:"Cascadia Code";
    font-size: 23px;
}

.btnStyle:hover {
    border-radius: 5px;
    vertical-align: middle;
    background:#04AA6D;
    align-content: center;
    color: white;
    font-family:"Cascadia Code";
    font-size: 23px;
}

.blink_me {
    animation: blinker 1s linear infinite;
    color:blue;
  }
  
  @keyframes blinker {  
    50% { opacity: 0; }
  }

  .hint {
    color: #808080;
  }

  .instructions {
    color: red;
    font-size: 18px;
  }