py-terminal-docked {
    background-color:darkblue;
}

py-terminal {
    background-color:darkblue;
}

#sample_container {
    vertical-align: top;
}

#code_container {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

#output-container {
    background-color: black;
}

#sample-codes {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#python-example {
    width:  400px;
    height: 700px;
}

#output {
    background-color: black;
}

#output img {
    width: 100%;
    height: 100%;
    max-width: 500px;
    max-height: 500px;
}